* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.bg-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 6px;
}

@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
}

.line {
  color: #e7e5ea;
  border-style: solid;
  border-width: 1px;
  width: 100%;
}

@media (min-width: 768px) {
  .line {
    display: none;
  }
}

.icon {
  display: none;
}

@media (min-width: 768px) {
  .icon1 {
    display: none;
  }
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.nav-items {
  display: none;
}

@media (min-width: 768px) {
  .nav-items {
    display: inline;
    margin-right: 15px;
  }
}

.nav-item {
  text-decoration: none;
  font-family: 'Open Sans';
  font-size: 17px;
  color: black;
  margin-left: 15px;
}

.button {
  background-color: #ffdda9;
  width: 80px;
  height: 35px;
  border-width: 0px;
  border-radius: 20px;
  color: #12022f;
  font-size: 15px;
  font-weight: 600;
  margin-left: 15px;
  font-family: 'Roboto';
}

.bg-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/landing-page-sm-bg.png');
  background-size: cover;
  flex-grow: 1;
}

@media (min-width: 768px) {
  .bg-image {
    background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/landing-page-lg-bg.png');
    background-size: cover;
    flex-grow: 1;
  }
}

.heading {
  font-family: 'Roboto';
  font-size: 40px;
  color: white;
  align-self: center;
  text-align: center;
}

@media (min-width: 768px) {
  .heading {
    font-size: 60px;
  }
}
